* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #352023 url(photos/0.jpg) center center;
    background-size: cover;
    padding: 5% 20% 5% 5%;
}


h1 {
    font-weight: 300;
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
}

h1 span {
    color: #f4d4ca;
}

h2 {
    font-weight: 400;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

main {
    color: white;
    font-style: normal;
    margin-top: 3rem;
    line-height: 200%;
}

main a {
    line-height: 1.7rem;
    color: #f4d4ca;
    color: black;
    background:  #f4d4ca;
    text-decoration: none;
    display: inline-block;
    padding: 0 7px;
    margin: 3px 3px 3px 0;
}

header, main {
    position: relative;
    z-index: 1;
}


@media only screen and (max-device-width: 568px) {
    body {
        background-position: -400px center;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }
}

.slider {
    display: none;
    will-change: scroll-position;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.slider::after {
    content: '';
    background: url(pattern.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.slider-inner {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    white-space: nowrap;
    transition: left 1s ease-out 0.1s;
}

.slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
